h2 {
    font-size: 6rem;
    font-family: "Dancing Script", cursive;
    font-family: "Lato", sans-serif;
    font-family: "Ms Madi", cursive;
    text-align: center;
    margin: 4% 0;
    text-decoration: underline;
  }

.card-order {
    width: 60%;
    margin: 0 auto;
}

.card-sum {
    width: 20%;
    margin: 0 auto;
}

.test {
    padding: 1%;
    background-color: rgb(242, 242, 242);
}

/* .row {
    width: 20%;
} */

.card {
    width: 40%;
    margin: 0 auto;
}

.form {
    margin: 5% auto;
    width: 10%;
}

ul {
    list-style-type: none;
  }

li {
    margin: 7% 0%;
}

label {
    margin-bottom: 3%;
}

#submitBtn {
    margin-top: 7%;
}