.background-home {
  background-image: url("src/assets/images/pizza-background.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 1100px;
  width: 100%;
}

.vertical-position {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  color: white;
  font-size: 10rem;
  font-family: "Dancing Script", cursive;
  font-family: "Lato", sans-serif;
  font-family: "Ms Madi", cursive;
  text-align: center;
  text-shadow: 0 0 1px black, 0 0 1px black, 0 0 1px black, 0 0 1px black;
}

.btn-home-menu {
  display: block;
  margin: 3% auto 0 auto;
  padding: 0.5% 1.5%;
  font-size: 24px;
  border-radius: 0.7rem;
}

.container-width {
  width: 80%;
  height: 100%;
  margin: 0 auto;
}

h1 {
  font-size: 6rem;
  font-family: "Dancing Script", cursive;
  font-family: "Lato", sans-serif;
  font-family: "Ms Madi", cursive;
  text-align: center;
  margin: 4% 0;
  text-decoration: underline;
}

.container-overview {
    width: 80%;
    margin: 0 auto;
}

.misc-infos-home {
  width: 50%;
  margin: 2% auto;
}

.guests-rating {
  background-color: rgb(242, 242, 242);
  padding: 5% 0;
}

.container-misc-infos-home2 {
  position: relative;
  height: 60vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pseudo-child {
  content: "";
  background-image: url("src/assets/images/italy.jpg");
  background-size: cover;
  background-position: center center;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.3;
}

.misc-infos-home2 {
  width: 50%;
}

.misc-infos-home2 p {
  font-size: 20px;
  position: relative;
  color: black;
  text-align: center;
  text-shadow: 0 0 2px white, 0 0 2px white, 0 0 2px white, 0 0 2px white;
}

h2 {
  font-weight: bold;
  text-align: center;
  text-shadow: 0 0 2px white, 0 0 2px white, 0 0 2px white, 0 0 2px white;
  color: rgb(21, 21, 196);
}