<div class="background-home">
  <div class="vertical-position">
    <p>Ristorante Il Gambero Rosso</p>
    <button
      class="btn btn-home-menu btn-success"
      style="font-family: arial"
      routerLink="/menu"
    >
      Our Menu
    </button>
  </div>
</div>
<div class="container-overview">
  <div class="row">
    <h1>Italian Restaurant</h1>
    <div class="col-sm-6">
      <img
        src="assets/images/restaurant-home.jpg"
        alt="Image Restaurant"
        width="100%"
      />
    </div>
    <div class="col-sm-6" id="col-right">
      <p style="font-size: 20px">
        As a connoisseur, are you always looking for something extraordinary?
      </p>
      <p style="font-size: 20px">
        Discover the Ristorante Il Gambero Rosso, a culinary highlight in the
        heart of Padova Province we will inspire you with our Italian cuisine.
        With unusual recipes for starters as well as pizza, risotto and pasta or
        meat and fish dishes (sea bass).
      </p>
    </div>
  </div>
</div>
<div class="misc-infos-home"></div>
<div class="guests-rating">asds</div>
<div class="container-misc-infos-home2">
  <div class="pseudo-child"></div>
  <div class="misc-infos-home2">
    <h2>Grazie Mille, a presto - Trattoria</h2>
    <br />
    <br />
    <p style="font-weight: bold">
      When you think of Italy, you think of the sea, sun, great beaches,
      fabulous ancient cities and then of course the country's cuisine.
    </p>
    <br />
    <p>
      The holiday starts at the latest when the waiter brings the aperitivo.
      Experience the balancing act between luxury and comfort. Taste our
      specialties from our kitchen and forget everything around ;)
    </p>
    <br />
    <p>
      Italian recipes are mostly kept simple. It is important to use good pasta
      in combination with good olive oil and some vegetables. Even if we process
      meat, it is exclusively from artisan farms with a
      <br />
      <span style="font-weight: bold">guarantee of origin.</span>
    </p>
    <br />
    <p style="font-weight: bold">Grazie Mille, a presto!</p>
  </div>
</div>
