<div class="background-home">
  <div class="vertical-position">
    <p>Ristorante Il Gambero Rosso</p>
    <button
      class="btn btn-home-menu btn-success"
      style="font-family: arial"
      routerLink="/menu"
    >
      Our Menu
    </button>
  </div>
</div>
<h1>Ristorante Il Gambero Rosso</h1>
<div class="container-width">
  <div class="row gx-5">
    <div class="col">
      <div class="p-3 vertical-alignment">
        <h2 class="mb-5">Pizza</h2>
        <p style="font-size: 20px">
          The highest quality ingredients, sun-ripened tomatoes, the best olive
          oil, unique Manitoba flour, sea salt, wild yeast - and plenty of time
          for the dough to mature. We bake the pizzas in the Ferrari of pizza
          ovens, a customized stone floor oven from Castelli Forni. The toppings
          are only partially baked - the ingredients are often placed later or
          just put back in the oven for a short time. As a result, there are no
          limits to the imagination of the dishes and the consistency and aromas
          of the toppings are retained. Our pizzas are compositions and unique.
        </p>
      </div>
    </div>
    <div class="col">
      <div class="p-3">
        <img
          src="assets/images/home-restaurant.jpg"
          alt="Restaurant"
          width="100%"
        />
      </div>
    </div>
  </div>
</div>
<div class="home-content-beer">
  <div class="home-content-beer2">
    <h2 class="text-center mb-5">and our famous Beer</h2>
    <p style="font-size: 20px">
      Yes, we are now NEW NEW NEW at <span style="font-weight: bold;">Any Address 42</span> in <span style="font-weight: bold;">Padova Province, North
      Italy</span>. We have moved our mighty beer tap, so there are 26 craft beers from
      all over the world on tap here too! Plus many more in cans/bottles and of
      course a large selection of gin. Our pizzas take care of your physical
      well-being. Anyone who knows us knows that we only use the best
      ingredients for all dishes, preferably homemade! So that the gang gets
      their perfectly tailored pizza, there is also our meter pizza (half a
      meter or a whole meter).
    </p>
    <p style="font-size: 20px; font-weight: bold">
      AND NATURALLY AWESOME CRAFT BEERS ON TAP
    </p>
  </div>
</div>
<div class="misc-infos px-4">
  <div class="row gx-5">
    <div class="col">
      <div class="p-3">
        <p style="font-size: 20px; font-weight: bold">Opening hours</p>
        <p style="font-size: 20px">
          TUE - SAT: 5 p.m. - midnight
          <br />
          (Kitchen until 10 p.m.).
        </p>
      </div>
    </div>
    <div class="col">
      <div class="p-3">
        <p style="font-size: 20px; font-weight: bold">Our adress</p>
        <p style="font-size: 20px">
          Ristorante Il Gambero Rosso
          <br />
          Any Adress 42
          <br />
          Padova Province, North Italy
        </p>
      </div>
    </div>
    <div class="col">
      <div class="p-3">
        <p style="font-size: 20px; font-weight: bold">
          If you want to register beforehand:
        </p>
        <p style="font-size: 20px">
          Phone: +3906125489
          <br />
          Contact & Reservations: <a href="">example@gmail.com</a>
          <br />
          Applications & Jobs: <a href="">example2@gmail.com</a>
        </p>
      </div>
    </div>
  </div>
</div>
