h2 {
  font-size: 6rem;
  font-family: "Dancing Script", cursive;
  font-family: "Lato", sans-serif;
  font-family: "Ms Madi", cursive;
  text-align: center;
  margin: 4% 0;
  text-decoration: underline;
}

.card-container {
  width: 34rem;
  margin: 5% auto 7% auto;
}

.card {
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

.btnBack {
  float: left;
}

.btnOrder {
  float: right;
}