h2 {
    margin: 3% 0;
    text-align: center;
    font-weight: bold;
    font-size: 5rem;
    font-family: 'Monoton', cursive;
    color: rgb(255, 0, 0);
    opacity: 0.5;
    text-shadow: 10px -5px rgb(0, 81, 255);
}

.card-container {
  width: 34rem;
  margin: 10% auto;
}

.card {
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

.btnBack {
  float: left;
}

.btnOrder {
  float: right;
}